<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="./userData.css"> -->
  <title>Index</title>
</head>

<body>
      <div>
        {{#users}}
        <img src="{{avatar}}" alt="employee picture">
        <h2>{{name}}</h2>
        <h3>{{job}}</h3>
        <h3>{{company}}</h3>
        {{/users}}
      </div>

</body>

</html>
